.blogauthor::after {
    content: "Posted by ArcaneCiCi";
  }

.blogtitle::after {
    content: "We'll be right back.";
  }

.blogcontent::after {
    content: "We'll be back soon.";
}
    
.versiontext::after {
    content: "Powered by CiCi Games LLC • 2.0.0"
}

.launcher-version::after {
 content: "v2.0.0"
}
