.changelogtitle::after {
    content: "[4ef79de -> 29227d1]";
}

.changelogauthor::after {
    content: "By Aero Client Development Team";
}

.changelogcontent::after {
    content: "Aero Client Custom 1.8.9 now has Pinned Servers, Toggle Sneak and Toggle Sprint, and working cosmetics.";
    top: -10px;
}
