.changelogtitle::after {
    content: "Public Changelog Page";
}

.changelogauthor::after {
    content: "By Aero Client Development Team";
}

.changelogcontent::after {
    content: "Aero Client development has been halted.";
    top: -10%;
}
